<form name="participantSaveForm" id="participantSaveForm" role="form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="participant_details_modal.cancel()"
            data-dismiss="modal">&times;</button>
        <h4 class="modal-title">قائمة متطلبات {{ participant_details_modal.data.participant.name }}</h4>

    </div>
    <!-- Loading -->
    <div class="modal-body modal-body-no-footer" ng-show="participant_details_modal.isLoading">
        <div class="circle-loader" style="margin: 70px auto 70px;"></div>
    </div>
    <!-- After Loading -->
    <div class="modal-body modal-body-no-footer" ng-hide="participant_details_modal.isLoading">
        <!-- Actions -->
        <div class="mb-4 row align-items-center">
            <div class="col-lg-3 col-md-4 col-6">
                <ui-select required append-to-body="true" ng-model="participant_details_modal.currentTab">
                    <ui-select-match placeholder="أبحث">{{ $select.selected.name }}</ui-select-match>
                    <ui-select-choices
                        repeat="tab in participant_details_modal.data.holy_places | filter: $select.search">
                        <div class="d-flex">
                            <div ng-bind-html="tab.name | highlight: $select.search"></div>
                            <div class="mr-auto text-muted small">
                                {{ (participant_details_modal.data.requirements | filter: {holy_place_id: tab.id}).length }}
                                متطلب
                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-9 col-md-8 col-6 d-flex justify-content-end">
                <a target="_blank" href="{{ $root.baseUrl+'/print/participant/'+participant_details_modal.data.participant.id }}"
                    class="btn btn-primary rounded">طباعة</a>
            </div>
        </div>
        <!-- Content -->
        <div class="modal-table">
            <div class="table-responsive">
                <table class="table table-hover table-borderless">
                    <thead>
                        <th width="12.5%">الموضوع</th>
                        <th width="12.5%">الموضوع الفرعي</th>
                        <th width="12.5%">المستوى</th>
                        <th width="12.5%">النطاق الجغرافي</th>
                        <th width="25%">نطاق العمل</th>
                        <th width="25%">المتطلبات</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="requirement in (participant_details_modal.data.requirements | filter:
                            {holy_place_id:
                            participant_details_modal.currentTab.id})">
                            <td>{{ requirement.subject.name }}</td>
                            <td>{{ requirement.sub_subject.name }}</td>
                            <td>{{ requirement.level.name }}</td>
                            <td>{{ requirement.geographical_scope.name }}</td>
                            <td>{{ requirement.business_scope }}</td>
                            <td>{{ requirement.requirements }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</form>
