<form name="surveyInfoForm" id="surveyInfoForm" role="form">
	<div class="modal-header">
		<button type="button" class="close" ng-click="user_modal.cancel()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{{ (user_modal.method == 'add') ? 'أضف مستخدم جديد' : 'تعديل المستخدم' }}</h4>
	</div>
	<!-- Loading -->
	<div class="modal-body survey-steps-modal-body" ng-show="user_modal.isLoading">
		<div class="circle-loader" style="margin: 70px auto 70px;">

		</div>
	</div>
	<!-- After Loading -->
	<div class="modal-body" ng-hide="user_modal.isLoading">

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="username">اسم المستخدم</label>
					<input type="text" class="form-control ltr" autofocus ng-focus="user_modal.data.username" required id="username" autocomplete="new-username" ng-model="user_modal.data.username">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="password">كلمة السر</label>
					<input type="password" class="form-control" placeholder="{{ (user_modal.method == 'add') ? 'كلمة السر الإفتراضية هي 11223344' : 'اتركة فارغاً اذا كنت لا ترغب بتعديله' }}" id="password" autocomplete="new-password" ng-model="user_modal.data.password">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="email">البريد الألكتروني</label>
			<input type="email" class="form-control" required id="email" ng-model="user_modal.data.email">
		</div>
		<div class="form-group">
			<label for="name">الاسم الكامل</label>
			<input type="text" class="form-control" required id="name" ng-model="user_modal.data.name">
		</div>
		<div class="form-group">
			<label>دور المستخدم</label>
			<ui-select required search-enabled="false" append-to-body="true" ng-model="user_modal.data.general_user_role">
				<ui-select-match placeholder="أختر">{{ $select.selected.name }}</ui-select-match>
				<ui-select-choices repeat="item.key as item in [{key: 0,name: 'مستخدم البوابة'},{key: 1,name: 'مدير البوابة'},{key: 2,name: 'مدير البوابة بكامل الصلاحيات'}]">
					<div ng-bind-html="item.name"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group" ng-hide="user_modal.data.general_user_role != 0">
			<label>نوع المستخدم</label>
			<users-roles-list required="user_modal.data.general_user_role == 0" append-to-body="true" parent="user_modal.data" value="user_role_id"></users-roles-list>
		</div>
	</div>
	<div class="modal-footer text-center" ng-hide="user_modal.isLoading || user_modal.isMainSectionLoading">
		<button type="submit" ng-loading="user_modal.isSending" ng-disabled="user_modal.isSending || !surveyInfoForm.$dirty" class="btn rounded" ng-class="(surveyInfoForm.$dirty) ? 'btn-primary' : 'btn-light'" ng-click="user_modal.onSave(surveyInfoForm,false)">حفظ</button>
		<button type="submit" ng-show="user_modal.method == 'add'" ng-loading="user_modal.isSending" ng-disabled="user_modal.isSending || !surveyInfoForm.$dirty" class="btn rounded" ng-class="(surveyInfoForm.$dirty) ? 'btn-light-dark' : 'btn-light'" ng-click="user_modal.onSave(surveyInfoForm,true)">حفظ واضافة جديدة</button>
	</div>
</form>
