<form name="surveyQuestionForm" id="surveyQuestionForm" role="form">
	<div class="modal-header">
		<button type="button" class="close" ng-click="survey_question_modal.cancel()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{{ (survey_question_modal.method == 'add') ? 'أضف سؤال جديد' : 'تعديل السؤال' }}</h4>
	</div>
	<!-- After Loading -->
	<div class="modal-body" ng-hide="survey_question_modal.isLoading">
		<div class="form-group">
			<label for="survey_question_title_ar">عنوان السؤال <span class="text-muted">(عربي)</span></label>
			<input type="text" class="form-control" ng-focus="true" required id="survey_question_title_ar" ng-model="survey_question_modal.data.title_ar">
		</div>
		<div class="form-group">
			<label for="survey_question_title_en">عنوان السؤال <span class="text-muted">(انجليزي)</span></label>
			<input type="text" class="form-control ltr" required id="survey_question_title_en" ng-model="survey_question_modal.data.title_en">
		</div>
		<div class="form-group">
			<label for="survey_question_title_fr">عنوان السؤال <span class="text-muted">(فرنسي)</span></label>
			<input type="text" class="form-control ltr" required id="survey_question_title_fr" ng-model="survey_question_modal.data.title_fr">
		</div>
		<div class="form-group">
			<label for="survey_title_fr">نوع الحقل</label>
			<ui-select required append-to-body="true" search-enabled="false" ng-model="survey_question_modal.data.type">
				<ui-select-match placeholder="أختر">{{ $select.selected.name }}</ui-select-match>
				<ui-select-choices repeat="item.code as item in survey_question_modal.types_list">
					<div ng-bind-html="item.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		<!-- Options -->
		<div ng-show="['checkbox','select','select_with_other'].indexOf(survey_question_modal.data.type) > -1">
			<div class="mb-2 row align-items-end" ng-repeat="(option_i,option) in survey_question_modal.data.options" ng-if="option.id != 'other'">
				<div class="col-sm-10">
					<div class="row">
						<div class="col">
							<b class="d-block mb-1">خيار {{ option_i+1 }} <span class="text-muted">(عربي)</span></b>
							<input type="text" class="form-control" ng-focus="true" ng-required="['checkbox','select','select_with_other'].indexOf(survey_question_modal.data.type) > -1" ng-model="option.title_ar">
						</div>
						<div class="col">
							<b class="d-block mb-1">خيار {{ option_i+1 }} <span class="text-muted">(إنجليزي)</span></b>
							<input type="text" class="form-control" ng-required="['checkbox','select','select_with_other'].indexOf(survey_question_modal.data.type) > -1" ng-model="option.title_en">
						</div>
						<div class="col">
							<b class="d-block mb-1">خيار {{ option_i+1 }} <span class="text-muted">(فرنسي)</span></b>
							<input type="text" class="form-control" ng-required="['checkbox','select','select_with_other'].indexOf(survey_question_modal.data.type) > -1" ng-model="option.title_fr">
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-light-dark btn-icon" ng-click="survey_question_modal.removeOption(option,option_i)"><i class="ic-delete"></i></button>
				</div>
			</div>
			<button type="button" class="btn btn-light-dark mt-2 rounded" ng-click="survey_question_modal.addOption()">أضف خيار</button>
		</div>
		<div class="form-group" ng-show="['time','timerange'].indexOf(survey_question_modal.data.type) > -1">
			<label for="minute_step">خطوات الدقائق</label>
			<input type="number" min="1" class="form-control" ng-focus="['time','timerange'].indexOf(survey_question_modal.data.type) > -1" ng-required="['time','timerange'].indexOf(survey_question_modal.data.type) > -1" id="minute_step" ng-model="survey_question_modal.data.type_options.minute_step">
		</div>
		<!-- Apply the fields below to the non-main sections -->
		<div class="form-group mb-0 mt-5" ng-show="survey_question_modal.data.parent_id != 0">
			<label>خيارات أخرى</label>
			<div class="custom-control custom-checkbox mt-1">
        <input type="checkbox" class="custom-control-input" id="survey_question_notes" ng-true-value="1" ng-false-value="0" ng-model="survey_question_modal.data.is_has_notes">
        <label class="custom-control-label" for="survey_question_notes">أضافة حقل ملاحظات</label>
      </div>
		</div>
	</div>
	<div class="modal-footer text-center" ng-hide="survey_question_modal.isLoading">
		<button type="submit" ng-loading="survey_question_modal.isSending" ng-disabled="survey_question_modal.isSending" class="btn rounded btn-primary" ng-click="survey_question_modal.onSave(surveyQuestionForm)">حفظ</button>
	</div>
</form>
