<form name="surveyInfoForm" id="surveyInfoForm" role="form">
	<div class="modal-header">
		<button type="button" class="close" ng-click="survey_modal_info.cancel()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{{ (survey_modal_info.method == 'add') ? 'اضف أستبانة جديدة' : 'تعديل معلومات الأستبانة' }}</h4>
	</div>
	<!-- After Loading -->
	<div class="modal-body" ng-hide="survey_modal_info.isLoading">
		<div class="form-group">
			<label for="survey_section_title_ar">عنوان الأستبانة <span class="text-muted">(عربي)</span></label>
			<input type="text" class="form-control" ng-focus="true" required id="survey_section_title_ar" ng-model="survey_modal_info.data.title_ar">
		</div>
		<div class="form-group">
			<label for="survey_section_title_en">عنوان الأستبانة <span class="text-muted">(انجليزي)</span></label>
			<input type="text" class="form-control ltr" required id="survey_section_title_en" ng-model="survey_modal_info.data.title_en">
		</div>
		<div class="form-group">
			<label for="survey_section_title_fr">عنوان الأستبانة <span class="text-muted">(فرنسي)</span></label>
			<input type="text" class="form-control ltr" required id="survey_section_title_fr" ng-model="survey_modal_info.data.title_fr">
		</div>
		<div class="form-group">
			<label>ظهور الإستبانة للمستخدمين</label>
			<users-roles-list required="true" all-option="true" append-to-body="true" parent="survey_modal_info.data" value="user_role_id"></users-roles-list>
		</div>
	</div>
	<div class="modal-footer text-center" ng-hide="survey_modal_info.isLoading || survey_modal_info.isMainSectionLoading">
		<button type="submit" ng-loading="survey_modal_info.isSending" ng-disabled="survey_modal_info.isSending || !surveyInfoForm.$dirty" class="btn rounded" ng-class="(surveyInfoForm.$dirty) ? 'btn-primary' : 'btn-light'" ng-click="survey_modal_info.onSave(surveyInfoForm)">حفظ</button>
	</div>
</form>
