/* Footer */
.footer {
    color: var(--gray-lighter);
    padding: 30px 0 25px;
    width: 100%;
    border-top: 1px solid var(--light-border);
}

.footer img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/* Auth */
.auth-page {
    padding: 60px 0 100px !important;
}

.auth-page:before {
    position: absolute;
    background: url(../images/login-header-bg.svg) no-repeat top;
    background-size: contain;
    background-position-y: -30%;
    height: 100%;
    background-attachment: fixed;
    width: 100%;
    content: '';
    top: 0;
    z-index: -1;
    right: 0;
}

.auth-title {
    font-size: 41px;
    margin-bottom: 45px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.auth-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: none;
    padding: 25px 0 25px;
    ; }

.auth-loading {
    background: url('../images/circle-thin-loader.svg') no-repeat center;
    height: 160px;
}

.auth-panel {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
    padding: 40px 80px 65px;
}

.auth-password-form {
    position: relative;
}

.auth-password-form .form-control {
    padding-left: 60px;
}

.auth-password-form a {
    position: absolute;
    left: 0;
    top: 16px;
    font-size: 14px;
    color: var(--gray-lighter);
    text-decoration: none;
    font-weight: bold;
}

.auth-password-form a:hover {
    color: var(--primary);
}

@media (max-width: 1100px) {
    .auth-page:before {
        background-position-y: 0;
    }
}

@media (max-width: 991px) {
    .auth-page .page-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .auth-page {
        padding-top: 50px;
    }

    .auth-title {
        font-size: 30px;
        margin: 0 -20px 30px;
    }
}

@media (max-width: 769px) {
    .auth-page {
        padding-top: 30px;
    }

    .auth-page flash-message {
        right: 0px;
        left: 5px;
        width: 100% !important;
    }

    .auth-page flash-message .auth-panel {
        width: calc(100% - 55px);
    }

    .auth-title {
        font-size: 25px;
        margin: 0 -20px 30px;
    }

    .auth-page:before {
        background-size: 769px;
    }
}

@media (max-height: 700px) {
    .auth-footer {
        position: static;
    }
}

/* Header */
.header {
    background: #fff;
    box-shadow: 0 1px 10px rgba(196, 207, 214, 0.30);
}

.header .top {
    padding: 20px 0 20px;
}

.header .links {
    padding: 10px 0px 35px;
}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    display: flex;
}

.header .links ul > li {
    display: inline-block;
}

.header .links ul > li > a {
    color: var(--gray-light);
    text-decoration: none;
    padding: 0 25px;
    display: block;
    font-weight: 600;
    font-size: 15px;
}

.header .links ul > li > a {
    position: relative;
}

.header .links ul > li[uib-tooltip] {
    opacity: .4;
}

.header .links ul > li > a:before {
    height: 4px;
    border-radius: 17px;
    background: var(--primary);
    position: absolute;
    display: none;
    content: '';
    bottom: -12px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    right: 2px;
    width: 0%;
}

.header .links ul > li.active > a:before {
    width: calc(100% - 2px);
}

.header .links ul > li.active a {
    color: var(--primary);
}

.header .links ul > li > a:hover {
    color: var(--primary);
}

.header .links ul > li > a > i {
    display: block;
    text-align: center;
    font-size: 29px;
    margin-bottom: 8px;
}

/* Header Gallery */
.header-gallery {
    border-top: 1px solid var(--light-border);
    background: #fff;
    padding: 30px 20px 50px;
}

.header-gallery .loading {
    margin: 50px auto 20px;
    width: 40px;
}

.header-gallery .widget-title {
    margin-bottom: 25px;
}

.header-gallery .image {
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 0 5px;
    height: 250px;
}
.header-gallery .image .caption {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-weight: bold;
    right: 20px;
    left: 20px;
    font-size: 15px;
    z-index: 3;
}
.header-gallery .image .caption .date {
    margin-right: auto;
}
.header-gallery .image:before {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    opacity: 0;
            background: rgb(35,160,174);
    background: linear-gradient(330deg, rgba(35,160,174,1) 0%, rgba(28,213,211,1) 100%);
    transition: opacity .3s ease;
    content: '';
    z-index: 2;
}
.header-gallery .image:after {
        position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    opacity: 0.4;
        transition: all .3s ease;
    background: #000000;
    content: '';

}

.header-gallery .image:hover:before {
    opacity: .8;

}

.header-gallery .image img {
        border-radius: 5px;
}
/* Page Container */
.page-container {
    padding: 50px 0;
}

/* Widget */
.widget {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(196, 207, 214, 0.7);
}

.widget-heading {
    padding: 20px 40px;
}

.widget-title {
    font-size: 21px;
}

.widget-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-tabs li {
    padding: 6px 0;
    border-radius: 25px;
    cursor: pointer;
    transition: all .15s ease;
    width: 95px;
    text-align: center;
    color: var(--gray-lighter);
    font-weight: bold;
}

.widget-tabs li:not(.active):hover {
    color: var(--primary);
}

.widget-tabs li.active {
    color: var(--gray-base) !important;
    background: var(--light-bg);
}

.widget-tabs li:not(.active):hover {
    background: #f6f8fa;
    color: var(--gray-lighter) !important;
}

.widget-table {
}

.widget-table-heading {
    padding: 10px 30px 10px;
    border-bottom: 1px solid var(--light-border);
    font-weight: bold;
    color: var(--gray-lighter);
}

.widget-table-body {
    padding: 0 0 25px;
}

.widget-table-body > .dot-loader {
    margin: 50px auto 30px;
}

.widget-table-body .widget-table-item:not(:last-child) {
    border-bottom: 1px solid var(--light-border);
}

.widget-table-item {
    padding: 20px 30px;
    font-weight: bold;
    transition: background .2s ease;
}

.widget-table-item:hover {
    background: #f5f7fa;
}

.widget-table-item-title {
    font-weight: bold;
    color: var(--primary);
    font-size: 16px;
    text-decoration: none !important;
}

.widget-table-item:hover .btn-outline-primary {
    border-color: var(--primary);
    background: var(--primary);
    color: #fff;
}

.widget-table-item:hover .btn-outline-primary:hover {
    color: #fff;
    background-color: #0692a0;
    border-color: #0692a0;
}

.widget-table-item:hover .btn-outline-primary:active {
    color: #fff;
    background-color: #048996;
    border-color: #048996
}

.widget-table-item:hover .progress-circle:before {
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
}

/* More Button */
.btn-more {
    padding-left: 55px !important;
    position: relative;
}

.btn-more i {
    position: absolute;
    left: 25px;
    font-size: 18px;
    top: 7px;
    transition: all .3s ease;
}

.btn-more:hover i {
    left: 22px;
}

/* Survey */
.survey-steps-top {
    width: calc(100% + 60px);
    border-bottom: 1px solid var(--light-border);
    overflow-x: auto;
    margin: -20px -30px 25px;
    padding: 28px 25px 25px;
    -webkit-overflow-scrolling: touch;
}

.survey-steps-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.survey-steps-top li {
    text-align: center;
    font-size: 15px;
    color: var(--default-border);
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
}

.survey-steps-top li.active,.survey-steps-top li.completed,.survey-steps-top li a {
    font-weight: bold;
    color: var(--gray-base);
}

.survey-steps-top li:not(.completed):not(.active) a {
    color: var(--gray-lighter);
}

.survey-steps-top li:not(.completed):not(.active):hover a {
    color: var(--gray-light);
}

.survey-steps-top li.completed:hover .point {
    background: #0994a2;
    box-shadow: 0 0 0 2px #0994a2;
}

.survey-steps-top li.active:not(.completed):hover .point {
    box-shadow: 0 0 0 2px #098f9c;
}

.survey-steps-top li a {
    padding: 0 20px;
    text-align: center;
    display: block;
    font-size: 15px;
    text-decoration: none;
}

.survey-steps-top li .point {
    width: 30px;
    line-height: 32px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--light-border);
    transition: all .2s ease;
    display: block;
    margin: 0 auto 15px;
}

.survey-steps-top li .point.wd-loader {
    box-shadow: none !important;
}

.survey-steps-top li.active .point {
    box-shadow: 0 0 0 2px var(--primary);
}

.survey-steps-top li:not(.active):not(.completed):hover .point {
    box-shadow: 0 0 0 2px #a7a8b3;
}

.survey-steps-top li.completed .point {
    box-shadow: 0 0 0 2px var(--primary);
    background: var(--primary);
    color: #fff;
}

.survey-steps-top li:not(.completed) .point i {
    display: none;
}

.survey-steps-content {
    padding: 20px 0 80px;
}

/* Survey Section */
.survey-section .survey-section-title {
    font-size: 17px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.survey-section.collapsable > .survey-section-title {
    cursor: pointer;
    padding: 8px 15px;
    transition: all .2s ease;
    border-radius: 5px;
    margin: 0 -15px;
}
.survey-section.collapsable.collapsed > .survey-section-title:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.survey-section.collapsable.collapsed > .survey-section-title:hover:after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}
.survey-section.collapsed .survey-section-content {
    display: none;
}

.survey-section.collapsed > .survey-section-title span {
    background: var(--light-bg) !important;
    color: var(--gray-base);
}

.survey-section.collapsable > .survey-section-title:hover span {
    background: #0692a0;
}

.survey-section.collapsable > .survey-section-title:hover {
    color: var(--gray-base);
}
.survey-section.collapsable.collapsed {
    padding-bottom: 10px;
}
.survey-section.collapsable.collapsed .survey-section-title:hover {
    background: var(--light-bg);
}

.survey-section.collapsable > .survey-section-title:after {
    font-family: 'hajjcountries';
    content: "\e90d";
    margin-right: 12px;
    font-size: 12px;
    margin-top: 2px;
    transition: all .2s ease;
}


.survey-section .survey-section-title.small {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 45px;
}

.survey-section .survey-section-title.small span {
    min-width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 5px;
    padding: 0 9px;
}

.survey-section .survey-section-title span {
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    background: var(--primary);
    text-align: center;
    line-height: 30px;
    margin-left: 15px;
    font-size: 15px;
    transition: all .2s ease;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.survey-section .survey-section-title .completion-count {
    margin-right: 10px;
    font-size: 15px;
    color: var(--gray-light);
}

.survey-section .survey-section-content {
    padding: 20px 0 20px 0;
}

.survey-question-title {
    font-size: 15px;
    color: var(--gray-light);
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    line-height: 1.8;
}

.survey-question .survey-question-title {
    position: relative;
    padding-right: 45px;
}

.survey-append-note {
    position: relative;
    padding-left: 130px;
}

.survey-append-note .survey-note-btn {
    position: absolute;
    left: 0;
    top: 1px;
    width: 110px;
    padding-left: 0;
    padding-right: 0;
}

/* Loaders */
.circle-loader {
    width: 56px;
    height: 56px;
    border: 5px solid #d9e7f1;
    border-top-color: var(--primary);
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader-rotate 1s linear infinite;
    animation: loader-rotate 1s linear infinite;
    top: 50%;
    margin: 0 auto 0 auto
}

@-webkit-keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.horizontal-loader {
    background: url(/assets/site/images/horizontal-loader.svg) no-repeat center;
    min-height: 8px;
    background-size: contain
}

.dot-loader {
    position: relative;
    left: -9999px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: var(--primary);
    color: var(--primary);
    -webkit-box-shadow: 9999px 0 0 0 var(--primary);
    box-shadow: 9999px 0 0 0 var(--primary);
    -webkit-animation: dotLoader 1s infinite linear;
    animation: dotLoader 1s infinite linear;
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.dot-loader::after,.dot-loader::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0
}

.dot-loader::before {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--primary);
    -webkit-animation: dotLoaderBefore 1s infinite linear;
    animation: dotLoaderBefore 1s infinite linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.dot-loader::after {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--primary);
    -webkit-animation: dotLoaderAfter 1s infinite linear;
    animation: dotLoaderAfter 1s infinite linear;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes dotLoader {
    0% {
        -webkit-box-shadow: 9999px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9999px 0 0 0 var(--primary);
        box-shadow: 9999px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9999px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px 12px 0 0 rgba(152,128,255,0)
    }
}

@keyframes dotLoader {
    0% {
        -webkit-box-shadow: 9999px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9999px 0 0 0 var(--primary);
        box-shadow: 9999px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9999px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px 12px 0 0 rgba(152,128,255,0)
    }
}

@-webkit-keyframes dotLoaderBefore {
    0% {
        -webkit-box-shadow: 9984px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9984px 0 0 0 var(--primary);
        box-shadow: 9984px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9984px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px 12px 0 0 rgba(152,128,255,0)
    }
}

@keyframes dotLoaderBefore {
    0% {
        -webkit-box-shadow: 9984px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9984px 0 0 0 var(--primary);
        box-shadow: 9984px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9984px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px 12px 0 0 rgba(152,128,255,0)
    }
}

@-webkit-keyframes dotLoaderAfter {
    0% {
        -webkit-box-shadow: 10014px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 10014px 0 0 0 var(--primary);
        box-shadow: 10014px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 10014px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px 12px 0 0 rgba(152,128,255,0)
    }
}

@keyframes dotLoaderAfter {
    0% {
        -webkit-box-shadow: 10014px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 10014px 0 0 0 var(--primary);
        box-shadow: 10014px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 10014px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px 12px 0 0 rgba(152,128,255,0)
    }
}
.widget-no-results {
    text-align: center;
    padding: 20px 0;
    color: var(--gray-lighter);
}
.widget-no-results i {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}
