/* Footer */
.footer {
    color: var(--gray-lighter);
    padding: 30px 0 25px;
    width: 100%;
    border-top: 1px solid var(--light-border);
}

.footer img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/* Auth */
.auth-page {
    padding: 60px 0 100px !important;
}

.auth-page:before {
    position: absolute;
    background: url(../images/login-header-bg.svg) no-repeat top;
    background-size: contain;
    background-position-y: -30%;
    height: 100%;
    background-attachment: fixed;
    width: 100%;
    content: '';
    top: 0;
    z-index: -1;
    right: 0;
}

.auth-header .header-has-submenu {
    position: absolute;
    top: 20px;
    right: 20px !important;
}

[dir="ltr"] .auth-header .header-has-submenu {
     right: auto !important;
     left: 20px !important;
}

[dir="ltr"] .header-has-submenu .submenu {
    margin-left: 0 !important;
}

.auth-header .header-has-submenu > a {
    background: #fff;
    border: none;
    text-align: center;
    border-radius: 25px;
    padding: 8px 20px;
}
.auth-header .header-has-submenu > a:hover {
    background: rgba(255, 255, 255, 0.98);
}
.auth-header .header-has-submenu > a:active,.auth-header .header-has-submenu > a.active {
    background: rgba(255, 255, 255, 0.95);
}

.auth-title {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

[dir="ltr"] .auth-title {
    font-size: 25px;
    max-width: 500px;
    margin: 0 auto 10px;
}

.auth-subtitle {
    font-size: 22px;
    margin-bottom: 45px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

[dir="ltr"] .auth-subtitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.auth-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: none;
    padding: 25px 0 25px;
    ; }

.auth-loading {
    background: url('../images/circle-thin-loader.svg') no-repeat center;
    height: 160px;
}

.auth-panel {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
    padding: 40px 80px 65px;
}

.auth-password-form {
    position: relative;
}

.auth-password-form .form-control {
    padding-left: 60px;
}

.auth-password-form a {
    position: absolute;
    left: 0;
    top: 16px;
    font-size: 14px;
    color: var(--gray-lighter);
    text-decoration: none;
    font-weight: bold;
}

[dir="ltr"] .auth-password-form a {
    right: 0;
    left: auto;
}

.auth-password-form a:hover {
    color: var(--primary);
}

@media (max-width: 1100px) {
    .auth-page:before {
        background-position-y: 0;
    }
}

@media (max-width: 991px) {
    .auth-page .page-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .auth-page {
        padding-top: 50px;
    }

    .auth-title {
        font-size: 30px;
        margin: 0 -20px 5px;
    }
}

@media (max-width: 769px) {
    .auth-page {
        padding-top: 70px !important;
    }

    .auth-page flash-message {
        right: 0px;
        left: 5px;
        width: 100% !important;
    }

    .auth-page flash-message .auth-panel {
        width: calc(100% - 55px);
    }

    .auth-title {
        font-size: 19px !important;
        margin: 10px -20px 10px;
    }

    .auth-subtitle {
        font-size: 18px !important;
    }

    .auth-page:before {
        background-size: 1035px;
    }
}

@media (max-height: 700px) {
    .auth-footer {
        position: static;
    }
}

/* Header */
.header {
    background: #fff;
    box-shadow: 0 1px 10px rgba(196, 207, 214, 0.30);
}

.header .logo:hover {
    opacity: .8;
}

.header .top {
    padding: 20px 0 20px;
}

.header .links {
    padding: 15px 0px 50px;
}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    display: flex;
}

.header .links ul > li {
    display: inline-block;
}

.header .links ul > li > a {
    color: var(--gray-light);
    text-decoration: none;
    padding: 0 25px;
    display: block;
    font-weight: 600;
    font-size: 15px;
}

.header .links ul > li > a {
    position: relative;
}

.header .links ul > li[uib-tooltip] {
    opacity: .4;
}

.header .links ul > li > a:before {
    height: 4px;
    border-radius: 17px;
    background: var(--primary);
    position: absolute;
    content: '';
    bottom: -12px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    right: 25px;
    width: 0%;
}

[dir="ltr"] .header .links ul > li > a:before {
    left: 25px;
    right: auto;

}

.header .links ul > li.active > a:before {
    width: calc(100% - 50px);
}

.header .links ul > li.active a {
    color: var(--primary);
}

.header .links ul > li > a:hover {
    color: var(--primary);
}

.header .links ul > li > a > i {
    display: block;
    text-align: center;
    font-size: 29px;
    margin-bottom: 8px;
}

.header-has-submenu {
    position: relative
}

.header-has-submenu>a>i:not(.icon) {
    font-size: 11px;
    float: left;
    margin: 6px 10px 0 0;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}
[dir="ltr"] .header-has-submenu>a>i:not(.icon) {
    float: right;
    margin: 6px 0 0 10px;
}

.header-has-submenu.active>a>i:not(.icon) {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.header-has-submenu > a {
    text-decoration: none!important;
    position: relative;
    padding: 7px 15px;
    display: block;
    color: var(--gray-light);
}

.header-has-submenu .icon {
    position: absolute;
    top: 11px;
}
[dir="ltr"] .header-has-submenu .icon {
    left: 15px;
}
[dir="rtl"] .header-has-submenu {
    right: 0;
}
[dir="ltr"] .header-has-submenu > a {
    padding-left: 40px;
}
[dir="rtl"] .header-has-submenu .icon {
    right: 15px;
}
[dir="rtl"] .header-has-submenu > a {
    padding-right: 40px;
}

.header-has-submenu .submenu {
    position: absolute;
    border-radius: 5px;
    z-index: 999;
    background: #fff;
    top: 60px;
    list-style: none;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.25);
    box-shadow: 0 1px 5px rgba(0,0,0,.25);
    overflow: hidden;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    min-width: 220px;
    padding: 0;
    margin-right: -10px;
}

.header-has-submenu.active .submenu {
    visibility: visible;
    opacity: 1;
    top: 40px;
}
[dir="rtl"] .header-has-submenu .submenu {
     right: 0;
}
[dir="ltr"] .header-has-submenu .submenu {
    margin-left: -20px;
    margin-right: auto;
}
[dir="ltr"] .header-has-submenu.active .submenu {
    left: 0;
}

.header-has-submenu .has-submenu:hover .submenu {
    visibility: visible;
    opacity: 1;
    top: 50px
}

.header-has-submenu .submenu .divider {
    height: 1px;
    background-color: var(--light-border);
    margin: 10px 0
}


.header-has-submenu .submenu li a i {
    color: var(--gray-lighter);
    font-size: 17px;
    top: 12px;
    right: 20px;
    position: absolute
}

.header-has-submenu .submenu li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--gray);
    font-weight: 400;
}

.header-has-submenu .submenu.iconed li a {
    padding-right: 50px
}

.header-has-submenu .submenu li a:hover {
    background: var(--light-bg);
    color: var(--gray-dark)
}
/* Header Gallery */
.header-gallery {
    border-top: 1px solid var(--light-border);
    background: #fff;
    padding: 30px 0 60px;
    overflow: hidden;
}

.header-gallery .gallery-wrapper {
    max-width: 2000px;
    margin: auto;
    min-height: 250px;
    position: relative;
}
.header-gallery .gallery-wrapper .no-results {
    background: url('../images/empty-image-bg.png?') center;
    height: 250px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}

.header-gallery .loading {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -4px -12px 0 0;
}

.header-gallery .widget-title {
    margin-bottom: 25px;
}

.header-gallery .image {
    border-radius: 10px;
    position: relative;
    margin: 0 5px;
    height: 250px;
    width: 360px;
}

.header-gallery .image .buttons {
    position: absolute;
    top: 20px;
    color: #fff;
    transition: all .3s ease;
    font-weight: bold;
    right: 20px;
    left: 20px;
    font-size: 15px;
    z-index: 3;
    opacity: 0;
}

.header-gallery .image:hover .buttons {
    top: 106px;
    opacity: 1;
}
.header-gallery .image:hover .caption {
    opacity: 0;
}

.header-gallery .image .buttons .btn {
    border: 2px solid #fff;
    width: 120px;
    padding: 6px 0;
    color: #fff;
    margin: 0 5px;
}

.header-gallery .image .buttons .btn.filled {
    background: #fff;
    color: var(--gray-base)
}
.header-gallery .image .buttons .btn:hover {
    opacity: .9;
}

.header-gallery .image .caption {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-weight: bold;
    right: 20px;
    left: 20px;
    font-size: 15px;
    z-index: 3;
        transition: all .3s ease;
}

.header-gallery .image .caption .date {
    margin-right: auto;
}

[dir="ltr"] .header-gallery .image .caption .date {
    margin-left: auto;
    margin-right: initial;
}

.header-gallery .image:before {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: rgb(35,160,174);
    background: linear-gradient(330deg, rgba(35,160,174,1) 0%, rgba(28,213,211,1) 100%);
    transition: opacity .3s ease;
    content: '';
    z-index: 2;
}

.header-gallery .image:after {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    transition: all .3s ease;
    background: #000000;
    content: '';
}

.header-gallery .image:hover:before {
    opacity: .8;
}

.header-gallery .image img {
    border-radius: 10px;
}
/* Page Layout */
.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page-layout > .page-content {
      flex: 1 0 auto;
}
/* Page Container */
.page-container {
    padding: 50px 0;
}
/* Page Header */
.page-header {
    background: #fff;
    border-top: 1px solid var(--light-bg);
    padding: 15px 0;
    box-shadow: 0 5px 5px rgba(196, 207, 214, 0.12);
}

.page-header-container {
    padding: 30px 0 50px;
}

.page-header-filter > .btn-light {
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-filter > .btn-light:not(.input-group)::after {
    font-size: 10px;
    margin-right: 10px;
}

/* Widget */
.widget {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(196, 207, 214, 0.4);
}

.widget-heading {
    padding: 20px 40px;
}

.widget-title {
    font-size: 21px;
}

.widget-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
}

.widget-tabs li {
    padding: 6px 0;
    min-width: 65px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .15s ease;
    width: 95px;
    text-align: center;
    color: var(--gray-lighter);
    font-weight: bold;
}

[dir="ltr"] .widget-tabs li {
    padding: 6px 15px;
    width: auto;

}

.widget-tabs li:not(.active):hover {
    color: var(--primary);
}

.widget-tabs li.active {
    color: var(--gray-base) !important;
    background: var(--light-bg);
}

.widget-tabs li:not(.active):hover {
    background: #f6f8fa;
    color: var(--gray-lighter) !important;
}


.widget-table-heading {
    padding: 10px 30px 10px;
    border-bottom: 1px solid var(--light-border);
    font-weight: bold;
    color: var(--gray-lighter);
}

.widget-table-body {
    padding: 0 0 25px;
}

.widget-table-body > .dot-loader {
    margin: 50px auto 30px;
}

.widget-table-body .widget-table-item:not(:last-child) {
    border-bottom: 1px solid var(--light-border);
}

.widget-table-item {
    padding: 20px 30px;
    font-weight: bold;
    transition: background .2s ease;
}


.widget-table-item:hover {
    background: #f5f7fa;
}

.widget-table-item-title {
    font-weight: bold;
    color: var(--primary);
    text-decoration: none !important;
    transition: all .15s ease;
}

[dir="rtl"] .widget-table-item-title {
        font-size: 16px;
}


.widget-table-item:hover .btn-outline-primary {
    border-color: var(--primary);
    background: var(--primary);
    color: #fff;
}

.widget-table-item:hover .btn-outline-primary:hover {
    color: #fff;
    background-color: #0692a0;
    border-color: #0692a0;
}

.widget-table-item:hover .btn-outline-primary:active {
    color: #fff;
    background-color: #048996;
    border-color: #048996
}

.widget-table-item:hover .progress-circle:before {
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
}

.widget-datatable {
    padding-bottom: 10px;
    min-height: 100px;
    position: relative;
}

.widget-datatable .widget-table-item-title:hover {
    color: #037480;
}

.widget-datatable .widget-table-item-title {
    font-size: 15px;
}

.widget-datatable .widget-table-body {
    padding: 0;
    position:absolute;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    top: 0;
}

/* More Button */
.btn-more {
    position: relative;
}
[dir="ltr"] .btn-more {
    padding-right: 55px !important;
}
[dir="rtl"] .btn-more {
    padding-left: 55px !important;
}

.btn-more i {
    position: absolute;
    font-size: 18px;
    top: 7px;
    transition: all .3s ease;
}

[dir="ltr"] .btn-more i {
    right: 25px;
}
[dir="rtl"] .btn-more i {
    left: 25px;
}

[dir="ltr"] .btn-more:hover i {
    right: 22px;
}
[dir="rtl"] .btn-more:hover i {
    left: 22px;
}

/* Survey */
.survey-steps-top {
    width: 100%;
    border-bottom: 1px solid var(--light-border);
    overflow-x: auto;
    margin: 0;
    padding: 15px 25px 20px;
    -webkit-overflow-scrolling: touch;
}

.survey-steps-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.survey-steps-top li {
    text-align: center;
    font-size: 15px;
    color: var(--default-border);
    font-weight: 600;
    padding: 0 10px;
    display: inline-block;
    position: relative;
}

.survey-steps-top:not(.has-controls) li {
    cursor: pointer;
}

.survey-steps-top li.invalid {
    color: var(--red) !important;
}

.survey-steps-top li.invalid .point {
    box-shadow: 0 0 0 2px var(--red) !important;
}

.survey-steps-top li.active,.survey-steps-top li.completed,.survey-steps-top li > a {
    font-weight: bold;
    color: var(--gray-base);
}

.survey-steps-top li:not(.completed):not(.active) a {
    color: var(--gray-lighter);
}

.survey-steps-top li:not(.completed):not(.active):hover a {
    color: var(--gray-light);
}

.survey-steps-top li.completed:hover .point {
    background: #0994a2;
    box-shadow: 0 0 0 2px #0994a2;
}

.survey-steps-top li.active:not(.completed):hover .point {
    box-shadow: 0 0 0 2px #098f9c;
}

.survey-steps-top li > a {
    padding: 0 20px;
    text-align: center;
    display: block;
    font-size: 15px;
    text-decoration: none;
}

.survey-steps-top li .point {
    width: 25px;
    line-height: 29px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--light-border);
    display: block;
    margin: 0 auto 10px;
}

.survey-steps-top:not(.has-controls) li .point {
    transition: all .2s ease;
}

.survey-steps-top li .point.wd-loader {
    box-shadow: none !important;
}

.survey-steps-top li.active .point {
    box-shadow: 0 0 0 2px var(--primary);
}

.survey-steps-top li:not(.active):not(.completed):hover .point {
    box-shadow: 0 0 0 2px #a7a8b3;
}

.survey-steps-top li.completed .point {
    box-shadow: 0 0 0 2px var(--primary);
    background: var(--primary);
    color: #fff;
}

.survey-steps-top li:not(.survey-control-add):not(.completed) .point i {
    display: none;
}

.survey-steps-top.has-controls .survey-controls {
    text-align:center;
    width: 100%;
    right: 0;
    opacity: 0;
    top: 5px;
}
.survey-steps-top.has-controls li:not(.survey-control-add):hover .point {
    opacity: 0;
}

.survey-steps-top.has-controls li:hover .survey-controls {
    opacity: 1;
    top: -3px;
}


.survey-steps-top .survey-control-add .point {
    box-shadow: none !important;
    border: 2px dashed;
    width: 30px;
    height: 30px;
    margin-top: -3px;
}

.survey-steps-top .survey-control-add:hover {
    color: var(--primary);
}
.survey-steps-top .survey-control-add:hover .point {
    border-color: var(--primary);
}


.survey-steps-top .survey-controls > a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.survey-steps-content {
    padding: 20px 0 80px;
}

.survey-steps-modal-body {
    max-height: calc(100vh - 275px);
}

/* Survey Controls */
.survey-controls {
    position: absolute;
    transition: all .15s ease;
}

.survey-controls > a:not(:hover):not(:active) {
    background: var(--light-bg);
}

/* Survey Section */
.survey-section .survey-section-title {
    font-size: 17px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.survey-section .survey-section-title.has-controls:hover .survey-controls {
    opacity: 1;
        margin-right: 10px;
}
.survey-section .survey-section-title .survey-controls {
    position: static;
    opacity: 0;
    order: 3;
}
.survey-section .survey-section-title .survey-controls a {
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
}
.survey-section .survey-section-title .survey-controls .btn-icon {
    width: 30px;
}

.survey-section.collapsable > .survey-section-title {
    cursor: pointer;
    padding: 8px 15px;
    transition: all .2s ease;
    border-radius: 5px;
    margin: 0 -15px;
}

.survey-section.collapsable > .survey-section-title.invalid {
    color: var(--red) !important;
}

.survey-section .survey-section-title.invalid span,.survey-section.collapsed .survey-section-title.invalid span {
    background: var(--red) !important;
    color: #fff;
}

.survey-section .survey-section-title.invalid .completion-count {
    color: var(--red) !important;
}

.survey-section.collapsable.collapsed > .survey-section-title:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.survey-section.collapsable.collapsed > .survey-section-title:hover:after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.survey-section.collapsed .survey-section-content {
    display: none;
}

.survey-section.collapsed > .survey-section-title span {
    background: var(--light-bg) !important;
    color: var(--gray-base);
}

.survey-section.collapsable > .survey-section-title:hover span {
    background: #0692a0;
}

.survey-section.collapsable > .survey-section-title:hover {
    color: var(--gray-base);
}

.survey-section.collapsable.collapsed {
    padding-bottom: 10px;
}

.survey-section.collapsable.collapsed .survey-section-title:hover {
    background: var(--light-bg);
}

.survey-section.collapsable > .survey-section-title:after {
    font-family: 'hajjcountries';
    content: "\e90d";
    margin-right: 12px;
    font-size: 12px;
    margin-top: 2px;
    transition: all .2s ease;
    order: 2;
}

.survey-section .survey-section-title.small {
    font-size: 16px;
    margin-top: 4px;
    margin-right: 45px;
    height: 30px;
}

.survey-section .survey-section-title.small span {
    min-width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 5px;
    padding: 0 9px;
}

.survey-section .survey-section-title.small span.light-bg {
    background: #e4e8ea;
    color: var(--gray-base);
}

.survey-section .survey-section-title span {
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    background: var(--primary);
    text-align: center;
    line-height: 30px;
    margin-left: 15px;
    font-size: 15px;
    transition: all .2s ease;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[dir="ltr"] .survey-section .survey-section-title span {
        margin-left: 0;
        margin-right: 15px;
}

.survey-section .survey-section-title .completion-count {
    margin-right: 10px;
    font-size: 15px;
    color: var(--gray-light);
}

[dir="ltr"] .survey-section .survey-section-title .completion-count {
    margin-left: 10px;
    margin-right: 10px;
}

.survey-section .survey-section-content {
    padding: 20px 0 20px 0;
    overflow-x: hidden;
}

.survey-question-title {
    font-size: 15px;
    color: var(--gray-light);
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    line-height: 1.8;
}

.survey-question .survey-question-title {
    position: relative;
    padding-right: 45px;
}

.survey-question .survey-question-title.has-controls {
    width: 100%;
}

.survey-question:hover .survey-question-title .survey-controls {
    opacity: 1;
    left: 0;
}

.survey-question .survey-question-title .survey-controls {
    position: absolute;
    top: -2px;
    width: 75px;
    opacity: 0;
    background: #fff;
    left: 5px;
    text-align: left;
}

.survey-question .survey-question-title .survey-controls a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 14px;
}

.survey-append-note {
    position: relative;
    padding-left: 130px;
}

[dir="ltr"] .survey-append-note {
    padding-left: 0px;
    padding-right: 130px;
}

.survey-append-note .survey-note-btn {
    position: absolute;
    left: 0;
    top: 1px;
    width: 110px;
    padding-left: 0;
    padding-right: 0;
}

[dir="ltr"] .survey-append-note .survey-note-btn {
    right: 0;
    left: auto;
}

.survey-add-section-btn {
    background: #fff;
    border: 2px dashed var(--light-border);
    color: var(--primary);
    font-size: 15px;
    padding: 12px;
}
.survey-add-section-btn:hover {
    border-color: var(--primary);
}
.survey-add-section-btn:active,.survey-add-section-btn:active {
    border-color: var(--primary);
    background: rgba(238, 242, 246, 0.42);
}

/* Loaders */
.circle-loader {
    width: 56px;
    height: 56px;
    border: 5px solid #d9e7f1;
    border-top-color: var(--primary);
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader-rotate 1s linear infinite;
    animation: loader-rotate 1s linear infinite;
    top: 50%;
    margin: 0 auto 0 auto
}

@-webkit-keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.horizontal-loader {
    background: url(/assets/site/images/horizontal-loader.svg) no-repeat center;
    min-height: 8px;
    background-size: contain
}

.dot-loader {
    position: relative;
    left: -9999px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: var(--primary);
    color: var(--primary);
    -webkit-box-shadow: 9999px 0 0 0 var(--primary);
    box-shadow: 9999px 0 0 0 var(--primary);
    -webkit-animation: dotLoader 1s infinite linear;
    animation: dotLoader 1s infinite linear;
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.dot-loader::after,.dot-loader::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0
}

.dot-loader::before {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--primary);
    -webkit-animation: dotLoaderBefore 1s infinite linear;
    animation: dotLoaderBefore 1s infinite linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.dot-loader::after {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--primary);
    -webkit-animation: dotLoaderAfter 1s infinite linear;
    animation: dotLoaderAfter 1s infinite linear;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes dotLoader {
    0% {
        -webkit-box-shadow: 9999px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9999px 0 0 0 var(--primary);
        box-shadow: 9999px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9999px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px 12px 0 0 rgba(152,128,255,0)
    }
}

@keyframes dotLoader {
    0% {
        -webkit-box-shadow: 9999px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9999px 0 0 0 var(--primary);
        box-shadow: 9999px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9999px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9999px 12px 0 0 rgba(152,128,255,0)
    }
}

@-webkit-keyframes dotLoaderBefore {
    0% {
        -webkit-box-shadow: 9984px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9984px 0 0 0 var(--primary);
        box-shadow: 9984px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9984px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px 12px 0 0 rgba(152,128,255,0)
    }
}

@keyframes dotLoaderBefore {
    0% {
        -webkit-box-shadow: 9984px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 9984px 0 0 0 var(--primary);
        box-shadow: 9984px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 9984px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 9984px 12px 0 0 rgba(152,128,255,0)
    }
}

@-webkit-keyframes dotLoaderAfter {
    0% {
        -webkit-box-shadow: 10014px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 10014px 0 0 0 var(--primary);
        box-shadow: 10014px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 10014px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px 12px 0 0 rgba(152,128,255,0)
    }
}

@keyframes dotLoaderAfter {
    0% {
        -webkit-box-shadow: 10014px -12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px -12px 0 0 rgba(152,128,255,0)
    }

    25%,50%,75% {
        -webkit-box-shadow: 10014px 0 0 0 var(--primary);
        box-shadow: 10014px 0 0 0 var(--primary)
    }

    100% {
        -webkit-box-shadow: 10014px 12px 0 0 rgba(152,128,255,0);
        box-shadow: 10014px 12px 0 0 rgba(152,128,255,0)
    }
}

.widget-no-results {
    text-align: center;
    padding: 30px 0 10px;
    color: var(--gray-lighter);
}

.widget-no-results i {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}
/* Editable Text */
.editable-text {
    cursor: pointer;
    border-radius: 25px;
}
.editable-text:after {
    font-family: 'hajjcountries';
    content: '\e93e';
    margin-left: 10px;
    color: var(--gray-lighter);
    font-size: 80%;
    opacity: 0;
    transition: all .15s ease;

}
.editable-text:hover:after {
    margin-right: 10px;
    opacity: 1;
}
.editable-text:hover {
    background: var(--light-bg);
}
.modal-title.editable-text {
    font-size: 18px;
    padding-right: 10px;
}
