@font-face {
  font-family: 'tafweej';
  src:  url('/assets/fonts/tafweej.eot?3rlw27');
  src:  url('/assets/fonts/tafweej.eot?3rlw27#iefix') format('embedded-opentype'),
    url('/assets/fonts/tafweej.ttf?3rlw27') format('truetype'),
    url('/assets/fonts/tafweej.woff?3rlw27') format('woff'),
    url('/assets/fonts/tafweej.svg?3rlw27#tafweej') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tafweej' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-filter-f:before {
    content: "\e94f";
}

.ic-print-f:before {
    content: "\e950";
}

.ic-eye-hide:before {
    content: "\e94e";
}

.ic-menu2:before {
    content: "\e94b";
}

.ic-presentation:before {
    content: "\e94c";
}

.ic-plan:before {
    content: "\e94d";
}

.ic-lock:before {
    content: "\e92f";
}

.ic-user:before {
    content: "\e949";
}

.ic-refresh:before {
    content: "\e94a";
}

.ic-search:before {
    content: "\e900";
}

.ic-meeting:before {
    content: "\e901";
}

.ic-home:before {
    content: "\e902";
}

.ic-table:before {
    content: "\e903";
}

.ic-photo-gallery:before {
    content: "\e904";
}

.ic-calendar-news:before {
    content: "\e905";
}

.ic-settings:before {
    content: "\e906";
}

.ic-user-2:before {
    content: "\e907";
}

.ic-envelope:before {
    content: "\e908";
}

.ic-globe:before {
    content: "\e909";
}

.ic-calendar:before {
    content: "\e90a";
}

.ic-logout:before {
    content: "\e90b";
}

.ic-add:before {
    content: "\e90c";
}

.ic-caret-down:before {
    content: "\e90d";
}

.ic-caret-left:before {
    content: "\e90e";
}

.ic-caret-right:before {
    content: "\e90f";
}

.ic-caret-up:before {
    content: "\e910";
}

.ic-checklist:before {
    content: "\e911";
}

.ic-copy:before {
    content: "\e912";
}

.ic-download:before {
    content: "\e913";
}

.ic-eye:before {
    content: "\e914";
}

.ic-play-f:before {
    content: "\e915";
}

.ic-bar-chart:before {
    content: "\e916";
}

.ic-wifi:before {
    content: "\e917";
}

.ic-credit-card:before {
    content: "\e918";
}

.ic-share:before {
    content: "\e919";
}

.ic-loading:before {
    content: "\e91a";
}

.ic-link:before {
    content: "\e91b";
}

.ic-play:before {
    content: "\e91c";
}

.ic-star:before {
    content: "\e91d";
}

.ic-briefcase:before {
    content: "\e91e";
}

.ic-close:before {
    content: "\e91f";
}

.ic-check:before {
    content: "\e920";
}

.ic-question:before {
    content: "\e921";
}

.ic-camera:before {
    content: "\e922";
}

.ic-folder:before {
    content: "\e923";
}

.ic-minus:before {
    content: "\e924";
}

.ic-file:before {
    content: "\e925";
}

.ic-copy1:before {
    content: "\e926";
}

.ic-heart:before {
    content: "\e927";
}

.ic-attachment:before {
    content: "\e928";
}

.ic-info:before {
    content: "\e929";
}

.ic-question1:before {
    content: "\e92a";
}

.ic-eye1:before {
    content: "\e92b";
}

.ic-hide:before {
    content: "\e92c";
}

.ic-logout1:before {
    content: "\e92d";
}

.ic-picture:before {
    content: "\e92e";
}

.ic-filter:before {
    content: "\e930";
}

.ic-instagram:before {
    content: "\e931";
}

.ic-youtube:before {
    content: "\e932";
}

.ic-twitter:before {
    content: "\e933";
}

.ic-facebook:before {
    content: "\e934";
}

.ic-menu:before {
    content: "\e935";
}

.ic-grid:before {
    content: "\e936";
}

.ic-arrow-up:before {
    content: "\e937";
}

.ic-arrow-left:before {
    content: "\e938";
}

.ic-arrow-down:before {
    content: "\e939";
}

.ic-arrow-right:before {
    content: "\e93a";
}

.ic-printer:before {
    content: "\e93b";
}

.ic-dislike:before {
    content: "\e93c";
}

.ic-like:before {
    content: "\e93d";
}

.ic-edit:before {
    content: "\e93e";
}

.ic-delete:before {
    content: "\e93f";
}

.ic-phone-call:before {
    content: "\e940";
}

.ic-home1:before {
    content: "\e941";
}

.ic-upload:before {
    content: "\e942";
}

.ic-download1:before {
    content: "\e943";
}

.ic-medal:before {
    content: "\e944";
}

.ic-email:before {
    content: "\e945";
}

.ic-chat:before {
    content: "\e946";
}

.ic-alarm:before {
    content: "\e947";
}

.ic-clock:before {
    content: "\e948";
}
