@media (max-width: 1250px) {}

@media (max-width: 1090px) {}

@media (max-width: 991px) {

    /* Modal */
    .modal {
        height: 100%;
    }


    .modal-dialog {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .modal-content {
        border-radius: 0;
        height: 100% !important;
    }

    .modal-body {
        max-height: calc(100vh - 0px);
    }

    .modal-header+.modal-body,
    .modal-body+.modal-body {
        max-height: calc(100vh - 119px);
        min-height: calc(100vh - 119px);
        padding-bottom: 90px;
    }

    .modal-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
    }
}

/* End Page Filters Row */
@media (max-width: 1090px) {
    .container {
        padding: 0 20px
    }

    .footer {
        padding-left: 0 !important;
    }
}

@media (max-width: 991px) {
    .header-gallery {
        margin-top: 70px;
        border-top: none;
    }

    .header .top {
        background: #fff;
        z-index: 999;
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        width: 100%;
        padding: 0;
        border: none;
        box-shadow: 0 1px 5px rgba(196, 207, 214, 0.30);
    }

    [dir="ltr"] .header .top .btn-outline-light {
        right: 10px;
        left: auto;
    }

    .header .logo {
        position: absolute;
        right: 80px;
        top: 4px;
    }

    [dir="ltr"] .header .logo {
        left: 80px;
        right: auto;
    }

    .header .links {
        position: fixed;
        display: block !important;
        height: 100%;
        margin-top: 0;
        border-top: 1px solid var(--light-bg);
        top: 70px;
        z-index: 999999 !important;
        overflow: hidden;
        padding: 10px 0 0;
        width: 80%;
        max-width: 300px;
        background-color: #fff;
        transition: all .3s ease;
    }

    [dir="ltr"] .header .links {
        left: -300px;
    }

    [dir="rtl"] .header .links {
        right: -300px;
    }

    .header .links ul {
        display: block;
    }

    .header .links li {
        display: block;
        width: 100%;
        border-left: none !important;
        margin: 0 !important;
        padding: 0;
    }

    .header .links li a {
        display: block;
        margin: 0 !important;
        width: 100%;
    }

    [dir="rtl"] .header .links li a {
        padding: 15px 40px 15px 0 !important;
    }

    [dir="ltr"] .header .links li a {
        padding: 15px 0 15px 40px !important;
    }

    .header .links li a:before {
        display: none;
    }

    .header .links li>a>i {
        position: absolute;
        font-size: 21px !important;
        right: 0;
        margin: 0;
    }

    .header .links .tooltip {
        display: none !important;
    }

    [dir="ltr"] .header .links li>a>i {
        left: 0;
        right: auto;
    }

    .header li>a>.icon {
        display: none;
    }

    .header .links li:not(:last-child) {
        border-bottom: 1px solid var(--light-bg);
    }

    .header .btn-lang {
        font-size: 19px;
        height: 35px;
    }

    .header .btn-lang .icon {
        top: 7px;
    }

    .sidebar-toggle {
        position: absolute;
        right: 0;
        width: 70px;
        text-align: center;
        height: 70px;
        line-height: 75px;
        cursor: pointer;
        font-size: 23px;
        border-left: 1px solid var(--light-bg);
    }

    [dir="ltr"] .sidebar-toggle {
        left: 0;
        right: auto;
        border-right: 1px solid var(--light-bg);
        border-left: 0px;
    }

    .sidebar-toggled:before {
        background: #00000012;
        position: fixed;
        width: 100%;
        content: '';
        height: 100%;
        z-index: 1;
    }

    .sidebar-toggled .sidebar-toggle {
        color: var(--primary);
    }

    [dir="rtl"] .sidebar-toggled .header .links {
        right: 0;
    }

    [dir="ltr"] .sidebar-toggled .header .links {
        left: 0;
    }


    .page-content.page-container {
        padding-top: 100px;
    }

    .page-header+.page-container {
        padding-top: 30px
    }

    .page-header {
        background: none;
        margin-top: 80px;
        padding: 10px 15px 0px;
        box-shadow: none;
    }

    .page-header .container {
        padding: 0 5px;
    }

    .page-header-container {
        padding-top: 40حء;
    }

    .survey-question-title {
        padding-right: 0 !important;
    }

    .header-user-nav {
        position: absolute;
        left: 10px;
        top: 17px;
    }
}

@media (max-width: 769px) {
    .header-gallery .gallery-wrapper .no-results {
        margin: 0 -20px;
    }

    .page-header-filter-dropdown>.dropdown-menu {
        width: 300px;
    }
}

@media (max-width: 564px) {
    .header .logo {
        overflow: hidden;
        width: 47px;
    }

    .widget-table-item {
        padding: 20px 15px 25px;
    }

    .widget-table-item .btn-outline-primary {
        width: 100%;
    }

    .auth-panel {
        padding: 20px 30px 35px;
    }
}

@media (max-width: 355px) {}
