<form name="surveyForm" id="surveyForm" role="form">
	<div class="modal-header no-border">
		<button type="button" class="close" ng-click="answer_survey_modal.cancel()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">{{ 'survey.modal_title' | lang }}</h4>
	</div>
	<!-- Main Section Steps -->
	<div class="survey-steps-top">
		<ul class="d-flex justify-content-between">
			<li class="col-auto" ng-repeat="(main_section_index,main_section) in answer_survey_modal.data.main_sections" ng-click="answer_survey_modal.section.setCurrentMainSection(main_section_index,surveyForm)" ng-class="{'active': answer_survey_modal.current_main_section.id == main_section.id,'completed': answer_survey_modal.section.checkIsDone(main_section),'invalid': answer_survey_modal.isSendClicked && !answer_survey_modal.section.checkIsValid(main_section)}">
				<span class="point" ng-show="answer_survey_modal.section.checkIsDone(main_section) || answer_survey_modal.current_main_section.id == main_section.id" ng-click="steps.setCurrentStep(step.no)"><i class="ic-check"></i></span>
				<span class="point" ng-hide="answer_survey_modal.section.checkIsDone(main_section) || answer_survey_modal.current_main_section.id == main_section.id"><i class="ic-check"></i></span>
				<span ng-bind="main_section.title"></span>
			</li>
		</ul>
	</div>
	<!-- Loading -->
	<div class="modal-body survey-steps-modal-body" ng-show="answer_survey_modal.isLoading">
		<div class="circle-loader" style="margin: 70px auto 70px;">

		</div>
	</div>
	<!-- After Loading -->
	<div class="modal-body survey-steps-modal-body" ng-hide="answer_survey_modal.isLoading">

		<!-- Main Section Loading -->
		<div ng-show="answer_survey_modal.isMainSectionLoading">
			<div class="circle-loader" style="margin: 70px auto 50px;">

			</div>
		</div>
		<!-- Main Section Questions & Sub Section -->
		<div ng-hide="answer_survey_modal.isMainSectionLoading">
			<!-- Start The Sub Sections -->
			<div ng-repeat="(sub_section_i,sub_section) in answer_survey_modal.current_main_section.data" ng-init="sub_section.is_collapsed = (sub_section_i > 0) ? true : false">
				<!-- Start Sub Section Questions -->
				<survey-section form="surveyForm" main-section="answer_survey_modal.current_main_section" is-main-section-invalid="answer_survey_modal.section.mainSectionInvalid[answer_survey_modal.current_main_section.id]" section="sub_section" is-first-parent-section="true" parent-no="0" no="{{ sub_section_i+1 }}" survey-section-data="answer_survey_modal.surveySectionData"></survey-section>
			</div>
		</div>
	</div>
	<div class="modal-footer text-center" ng-hide="answer_survey_modal.isLoading || answer_survey_modal.isMainSectionLoading">
		<button type="submit" ng-loading="answer_survey_modal.isSending" ng-disabled="answer_survey_modal.isSending || !surveyForm.$dirty" class="btn btn-lg rounded" ng-class="(surveyForm.$dirty) ? 'btn-primary' : 'btn-light'" ng-click="answer_survey_modal.onSave(surveyForm)">{{ 'survey.save' | lang }}</button>
	</div>
</form>
