<div class="page-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="widget-title">الأحصائيات</h3>
      </div>
      <div class="col col-sm-auto d-flex justify-content-end align-items-center">
        <!-- Filter By User Role -->
        <div class="page-header-filter" uib-dropdown>
          <a uib-dropdown-toggle class="btn btn-light">{{ (filter_data.user_role_id) ? (('dashboard_types' | filter_lists) | filter:filter_data.dashboard_type)[0].label : 'جميع أنواع المستخدمين'  }}</a>
          <div class="dropdown-menu dropdown-menu-right text-right md-size" uib-dropdown-menu>
            <a ng-repeat="item in $root.main_lists.users_roles" class="dropdown-item" ng-click="filterResults('user_role_id',item.id)">{{ item.name }}</a>
          </div>
        </div>
        <!-- Filter By User -->
        <div class="page-header-filter" uib-dropdown auto-close="outsideClick">
          <a uib-dropdown-toggle class="btn btn-light">{{ (filter_data.user_role_id) ? (('dashboard_types' | filter_lists) | filter:filter_data.dashboard_type)[0].label : 'جميع المستخدمين'  }}</a>
          <div class="dropdown-menu dropdown-menu-right text-right md-size" uib-dropdown-menu>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
