<div class="page-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
          <div uib-dropdown class="widget-title-dropdown">
              <h3 class="widget-title" uib-dropdown-toggle>
                  {{ (page.subPagesList | filter: {key: page.currentSubPage})[0].name }}</h3>
              <div class="dropdown-menu dropdown-menu-right text-right md-size" uib-dropdown-menu>
                  <a ng-repeat="item in page.subPagesList" class="dropdown-item"
                      ng-click="page.setSubPage(item.key)">{{ item.name }}</a>
              </div>
          </div>
      </div>
      <div class="col col-sm-auto d-flex justify-content-end align-items-center">
        <div class="form-group form-group-light mb-0 ml-2">
          <div class="input-icon">
            <i class="ic-search"></i>
            <input type="text" class="form-control default-font"
                placeholder="أبحث في {{ (page.subPagesList | filter: {key: page.currentSubPage})[0].special_name }}"
                id="datatable_search" ng-model="datatable_search">
          </div>
        </div>
        <a class="btn btn-primary mr-2 rounded" ng-show="!sub_path"  ng-click="participant.add()">أضف
            جهة جديدة</a>
        <a class="btn btn-primary mr-2 rounded" ng-show="sub_path == 'requirements'" ng-click="participant.addRequirement()">أضف متطلب جديد</a>
      </div>
    </div>
  </div>
</div>
<div class="page-header-container">
  <div class="container">
    <div class="widget">
      <div class="widget-datatable" ng-class="{'loading': isDatatableLoading}">
        <table ng-hide="isDatatableLoading" datatable dt-options="Options" dt-columns="Columns" dt-instance="dtInstance" class="table-hover" ng-class="{'datatable-clickable': sub_path != 'registrations'}"></table>
        <div class="widget-table-body" ng-show="isDatatableLoading">
          <div class="dot-loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style ng-if="sub_path == 'requirements'" type="text/css">
    .widget-datatable th:nth-child(1),
    .widget-datatable th:nth-child(2),
    .widget-datatable th:nth-child(3),
    .widget-datatable th:nth-child(7) {
        width: 10% !important;
    }

    .widget-datatable th:nth-child(6) {
        width: 15% !important;
    }

    .widget-datatable th:nth-child(4),
    .widget-datatable th:nth-child(5) {
        width: 20% !important;
    }
</style>