<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div uib-dropdown class="widget-title-dropdown">
                    <h3 class="widget-title" uib-dropdown-toggle>
                        {{ (page.subPagesList | filter: {key: page.currentSubPage})[0].name }}</h3>
                    <div class="dropdown-menu dropdown-menu-right text-right md-size" uib-dropdown-menu>
                        <a ng-repeat="item in page.subPagesList | orderBy:'+list_order'" class="dropdown-item"
                            ng-click="page.setSubPage(item.key)">{{ item.name }}</a>
                    </div>
                </div>
            </div>
            <div class="col col-sm-auto d-flex justify-content-end align-items-center">
                <div class="form-group form-group-light mb-0 ml-2">
                    <div class="input-icon">
                        <i class="ic-search"></i>
                        <input type="text" class="form-control default-font"
                            placeholder="أبحث في {{ (page.subPagesList | filter: {key: page.currentSubPage})[0].special_name }}"
                            id="datatable_search" ng-model="datatable_search">
                    </div>
                </div>
                <!-- Start Filter -->
                <div class="page-header-filter" ng-show="sub_path != 'answers'">
                    <div uib-dropdown auto-close="outsideClick" class="page-header-filter-dropdown ml-2">
                        <a class="btn btn-light-dark rounded d-flex align-items-center" uib-dropdown-toggle><i
                                class="ic-filter-f ml-2"></i>فلترة</a>
                        <div class="dropdown-menu md-size" uib-dropdown-menu>
                            <div class="row">
                                <!-- <div class="col-md-12" ng-show="sub_path == 'answers'">
                                    <div class="form-group mb-0">
                                        <label>الأستبانة</label>
                                        <ui-select on-select="filterResults('survey_id')"
                                            ng-class="{'loading': filter.isSurveysListLoading}"
                                            ng-click="filter.getSurveysList(null,true)"
                                            ng-model="filter_data.survey_id">
                                            <ui-select-match placeholder="أختر">
                                                {{ $select.selected.title }}
                                            </ui-select-match>
                                            <ui-select-choices refresh="filter.getSurveysList($select.search)"
                                                refresh-delay="300"
                                                repeat="survey_item.id as survey_item in filter.list.surveys">
                                                <span
                                                    ng-bind-html="survey_item.title | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div> -->
                                <div class="col-md-12" ng-show="sub_path != 'answers'">
                                    <div class="form-group">
                                        <label>نوع المستخدمين</label>
                                        <users-roles-list all-option="true"
                                            on-change="filterResults('user_role_id',filter_data.user_role_id)"
                                            append-to-body="false" parent="filter_data" value="user_role_id">
                                        </users-roles-list>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label>حالة التفعيل</label>
                                        <ui-select on-select="filterResults('is_active',filter_data.is_active)"
                                            search-enabled="false" ng-model="filter_data.is_active">
                                            <ui-select-match placeholder="أختر">{{ $select.selected.name }}
                                            </ui-select-match>
                                            <ui-select-choices
                                                repeat="item.key as item in [{key: '',name: 'الكل'},{key: 'active',name: 'المفعلة'},{key: 'inactive',name: 'الغير مفعلة'}]">
                                                <div ng-bind-html="item.name"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter -->
                <a class="btn btn-primary rounded" ng-click="survey.add()" ng-show="sub_path != 'answers'">أضف أستبانة
                    جديدة</a>
                <!-- <a class="btn btn-light-dark rounded" ng-loading="survey.isExportAllLoading"
                    ng-click="survey.exportAnswers(null,null,null,true)" ng-show="sub_path == 'answers'"><i
                        class="ic-download ml-2"></i>تصدير</a> -->
            </div>
        </div>
    </div>
</div>
<div class="page-header-container">
    <div class="container">
        <div class="widget">
            <div class="widget-datatable" ng-class="{'loading': isDatatableLoading}">
                <table ng-hide="isDatatableLoading" datatable dt-options="Options" dt-columns="Columns"
                    dt-instance="dtInstance" class="table-hover"
                    ng-class="{'datatable-clickable': sub_path != 'answers'}"></table>
                <div class="widget-table-body" ng-show="isDatatableLoading">
                    <div class="dot-loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style ng-if="sub_path == 'answers'" type="text/css">
    .widget-datatable th:nth-child(1),
    .widget-datatable th:nth-child(2),
    .widget-datatable th:nth-child(4),
    .widget-datatable th:nth-child(5) {
        width: 15% !important;
    }

    .widget-datatable th:nth-child(3) {
        width: 30% !important;
    }

</style>
<style ng-if="sub_path != 'answers'" type="text/css">
    .widget-datatable th:nth-child(2),
    .widget-datatable th:nth-child(3),
    .widget-datatable th:nth-child(4) {
        width: 20% !important;
    }

    .widget-datatable th:nth-child(1) {
        width: 40% !important;
    }

</style>
