<div class="widget">
  <div class="widget-heading">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-center justify-content-sm-start pb-2 pb-sm-0">
        <h3 class="widget-title">{{ 'surveys' | lang }}</h3>
      </div>
      <div class="col col-sm-auto m{{ $root.langProp.short_side }}-auto d-flex justify-content-center justify-content-sm-start">
        <ul class="widget-tabs d-flex">
          <li ng-click="survey.setFilter('tab','all')"  ng-class="{'active': survey.current_tab == 'all'}">{{ 'all' | lang }}</li>
          <li ng-click="survey.setFilter('tab','completed')" ng-class="{'active': survey.current_tab == 'completed'}">{{ 'completed' | lang }}</li>
          <li ng-click="survey.setFilter('tab','incompleted')" ng-class="{'active': survey.current_tab == 'incompleted'}">{{ 'incompleted' | lang }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="widget-table">
    <div class="row widget-table-heading mx-0 d-none d-md-flex">
      <div class="col-5">{{ 'title' | lang }}</div>
      <div class="col">{{ 'survey.date' | lang }}</div>
      <div class="col">{{ 'survey.last_answer_date' | lang }}</div>
      <div class="col-2"></div>
    </div>
    <hr class="d-md-none mt-1 mb-0">
    <div class="widget-table-body" ng-show="survey.isLoading">
      <div class="dot-loader"></div>
    </div>
    <div class="widget-no-results" ng-show="!survey.isLoading && !survey.list.length"><i class="ic-checklist"></i>{{ 'survey.no_surveys_found' | lang }}</div>
    <div class="widget-table-body" ng-hide="survey.isLoading">
      <div ng-repeat="item in survey.list" class="widget-table-item">
        <div class="row mx-0 align-items-center">
          <div class="col-md-5 pb-3 pb-md-0">
            <div class="d-flex align-items-center">
              <div class="progress-circle clickable" data-progress="{{ survey.getCompletionRate(item,true) }}" data-string="{{ (!item.last_answer) ? 0 : survey.getCompletionRate(item) }}" ng-click="survey.onAnswer(item)"></div>
              <a class="widget-table-item-title m{{ $root.langProp.short_side }}-5" ng-click="survey.onAnswer(item)">{{ item.title }}</a>
            </div>
          </div>
          <div class="col">
            <div class="text-muted mb-2 d-md-none">{{ 'survey.date' | lang }}</div>
            <div>{{ item.created_at | dateF }}</div>
          </div>
          <div class="col">
            <div class="text-muted mb-2 d-md-none">{{ 'survey.last_answer_date' | lang }}</div>
            <div class="text-muted" ng-hide="item.last_answer">{{ 'survey.no_answer_yet' | lang }}</div>
            <div ng-show="item.last_answer">{{ item.last_answer.created_at | dateF: 'yyyy/MM/dd HH:mm' }}</div>
          </div>
          <div class="col-md-2 col-12 pt-5 pt-md-0 d-flex justify-content-center justify-content-md-end">
            <button type="button" ng-click="survey.onAnswer(item)" class="btn btn-outline-primary rounded">
              {{ 'answer' | lang }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 d-flex justify-content-end" ng-if="view == 'summary'">
  <a href="#/surveys" class="btn btn-light rounded btn-more">{{ 'view_all' | lang }}<i class="ic-arrow-{{ $root.langProp.ops_side }} m{{ $root.langProp.short_side }}-2"></i></a>
</div>
